{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<!-- <div class="container page-bg">
    <div class="row ">
        <div class="col-7 col-md-6 my-auto ">
             <h1 class="display-3 logo-font text-black">
                Choose the perfect Style
            </h1> 
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop The Collection</a>
                </h4>
            </div>
        </div>
    </div>

</div> -->

<div class="container">
    <div class="row">
        <img src="https://life-style1.s3.eu-west-1.amazonaws.com/media/living-room-3.jpg" alt="Living room" class="hero-outer mx-auto pt-4">
    </div>
    <div class="row pt-4">
        <div class="card border-0" >
            <div class="card-body">
                <h3 class="card-title text-center">Choose the perfect Style</h3>
                <span class="card-text">
                    Astro Riders is a a football group for the community in Adamstown. Founded by a group of friends in September 2018, this football group has grown a lot since. The group is very diverse with members from different countries and various skill levels.
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

