{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Site introduction -->
<div class="container">
    <div class="row">
        <img src="https://life-style1.s3.eu-west-1.amazonaws.com/media/living-room-3.jpg" alt="Living room" class="hero-outer mx-auto pt-4">
    </div>
    <div class="row pt-4">
        <div class="card border-0" >
            <div class="card-body">
                <h3 class="card-title text-center">Choose the perfect Style</h3>
                <span class="card-text">
                    At LifeStyle we specialise in providing all aspects of homewares and want to make homewares as accessible and affordable as possible. 
                    LifeStyle have a great range of homewares and products, with many beautiful ornaments and items of home décor, and you are sure to find something beautiful.
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

