{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<!-- Site introduction -->
<div class="container">
    <!-- <div class="row">
        <img src="https://life-style1.s3.eu-west-1.amazonaws.com/media/living-room-3.jpg" alt="Living room" class="hero-outer mx-auto pt-4">
    </div> -->

    <div id="demo" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        <!-- The slideshow -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://life-style1.s3.eu-west-1.amazonaws.com/media/living-room-3.jpg"  width="1100" height="500">
          </div>
          <div class="carousel-item">
            <img src="https://life-style1.s3.eu-west-1.amazonaws.com/media/living_2.jpg" width="1100" height="500">
          </div>
          <div class="carousel-item">
            <img src="https://life-style1.s3.eu-west-1.amazonaws.com/media/living_1.jpg"  width="1100" height="500">
          </div>
        </div>
        
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="row pt-4">
        <div class="card border-0" >
            <div class="card-body">
                <h3 class="card-title text-center">Choose the perfect Style</h3>
                <span class="card-text">
                    At LifeStyle we specialise in providing all aspects of homewares and want to make homewares as accessible and affordable as possible. 
                    LifeStyle have a great range of homewares and products, with many beautiful ornaments and items of home décor, and you are sure to find something beautiful.
                </span>
            </div>
        </div>
    </div>
</div>

{% endblock %}

