{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
            <ul class="list-group">
                {% for brand in brands %}
                        <a class="no-link" href="/products?brand={{brand.name}}">
                            <li class="list-group-item text-center border-0">{{ brand.name}}</li>
                        </a>
                {% endfor %}
            </ul>
{% endblock %}