{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container mt-1 mb-3 prod-small-win-height">
    <div class="row pl-4 product-card">
        {% if brands %}
        <p>{{ brands|length }} Brands Found.</p>
        {% endif %}
    </div>
    <div class="row ">
        {% for brand in brands %}
        <div class="col-md-4">
            <div class="card p-3 mb-2 border-0">
                <div >
                    <a href="/products?brand={{brand.name}}"><img src="{{ MEDIA_URL }}{{brand.name}}.png" class="img-fluid rounded float-left" width="304" height="236" alt="{{brand.name}}"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

