<div class="collapse navbar-collapse nav-bottom" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}" id="all-products-link" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Living room" id="living-link" aria-haspopup="true" aria-expanded="false">
                Living Room
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Home decor" id="home-link" aria-haspopup="true" aria-expanded="false">
                Home Decor
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'products' %}?category=Kitchen" id="kitchen-link" aria-haspopup="true" aria-expanded="false">
                Kitchen
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'brands' %}" id="kitchen-link" aria-haspopup="true" aria-expanded="false">
                Brands
            </a>
        </li>
    </ul>
</div>
